* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #22254b;
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #373b69;
  height: 80px;
}
header form {
  width: 350px;
  margin-right: 30px;
}
header form input[type='text'] {
  box-sizing: border-box;
  border: 3px solid #22254b;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  padding: 8px 12px;
  width: 100%;
  background-color: #373b69;
  color: #eee;
}
header form input::placeholder {
  color: #747ab9;
}
header form input[type='text']:focus {
  background-color: #22254b;
  color: #eee;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .movie {
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  background-color: #373b69;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}
.movie img {
  width: 100%;
}
.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 16px;
  letter-spacing: 0.5px;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span {
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #22254b;
}

.overview {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  background-color: #fff;
  padding: 32px;
  transition: 0.3s ease-in;
  opacity: 0;
}
.movie:hover .overview {
  opacity: 1;
}
